<div class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <p>Error</p>
        <a asp-controller="Account" asp-action="ManageUsers" class="cd-popup-close img-replace">Close</a>
    </div>
</div>
