@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0">
</head>
<body>
    <h1 class="title">
        @ViewData["Error message"]<br />
        Something went wrong. Try again later
    </h1>
</body>
</html>
